:root {
    font-size: 16px;
    --sidebar-bgcolor: blue;
    --sidebar-txtcolor: white;
    --navbar-bgcolor: grey;
    --main-bgcolor: yellow;
    --announce-bgcolor: red;
}

body {
    display: grid;
    grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main announce"
    "sidebar main main announce"
    "sidebar main main announce";
    grid-template-columns: .5fr 1fr 1fr .6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-bgcolor);
    height: 100vh;
}

.nav {
    grid-area: nav;
    display: grid;
    background-color: var(--navbar-bgcolor);
    grid-template-areas:
    "navsearch navsocial"
    "navgreeting navbuttons";
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr;*/
    grid-auto-rows:min-content;
}

.nav-search {
    grid-area: navsearch;
}

.nav-greeting {
    grid-area: navgreeting;
}

.nav-social {
    grid-area: navsocial;
}

.nav-buttons {
    grid-area: navbuttons;
}

.main {
    grid-area: main;
    background-color: var(--main-bgcolor);
}

.main-cards {
    display:grid;
    grid-template-areas: 
    "card-1 card-2"
    "card-3 card-4"
    "card-5 card-6";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}




.announce {
    grid-area: announce;
    background-color: var(--announce-bgcolor);
}

.ghub-avatar-small {
    width: 10%;
    height: auto;
}

.ghub-avatar-medium {
    width: 20%;
    height: auto;
}